@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using DaLazyDog.Resources
@model IEnumerable<Lazydog.Model.Excuse>
@inject IViewLocalizer Localizer
@inject DaLazyDog.Models.CultureLocalizer SharedLocalizer
@{
    ViewData["Title"] = Localizer["PageTitle"];
}
<link href="~/css/LeftNavigation.min.css" rel="stylesheet" />
<h1>@SharedLocalizer.Text("Index")</h1>

<div class="text-center row hidden">
    <div class="col-xs-4">
        <input type="text" class="form-control" id="searchTxt" />
    </div>
    <div class="offset-1 col-xs-4">
        <a class="btn btn-outline-dark search-btn">@SharedLocalizer.Localize("SearchVerb")</a>
    </div>

</div>
<div class="filter-form">
    <fieldset>
        <legend>@Localizer["Category_Filter"]</legend>
        <ul class="list-unstyled">
            <li class="default-item"></li>
        </ul>
    </fieldset>
</div>

<div class="row">
@foreach (var item in Model)
{
    <div class="card col-xs-6 col-sm-4">
        <h3 class="text-center">@Html.DisplayFor(modelItem => item.ExcuseTitle)</h3>
        <p class="text-left float-left"> @Html.DisplayFor(modelItem => item.ExcuseDescription)
            
        </p>
        <p class="text-right float-right labels-cell">
            @for (int ctr = 0; ctr < item.LabelArr.Length; ctr++)
            {
                <a class="text-small" href="#">@item.LabelArr[ctr]</a>
            }
		</p>
        <p class="text-center">
            @Html.ActionLink(Localizer.GetString("MakeLetter"), "MakeLetter", "LetterTemplate", new { id = 1, excuseName = item.ExcuseTitle },  new { @class = "btn btn-secondary" }) 
		</p>
        
    </div>
}
</div>


@section Scripts{
    <script src="~/js/ExcuseList_Index.js"></script>
    <script>
        initializeExcuseList();
    </script>

}
@section OgTags{
    <meta property="og:title" content="@ViewData["Title"]" />
}