@model IEnumerable<Lazydog.Model.Excuse>

@{
    ViewData["Title"] = "Excuses";
}

<h1>Index</h1>

<div class="text-center row">
    <div class="col-xs-4">
        <input type="text" class="form-control" id="searchTxt" />
    </div>
    <div class="offset-1 col-xs-4">
        <a class="btn btn-outline-dark search-btn">Search</a>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExcuseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExcuseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Labels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcuseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcuseDescription)
                </td>
                <td>

                    @for (int ctr = 0; ctr < item.LabelArr.Length; ctr++)
                    {
                        @Html.ActionLink(String.Format("{0} ", item.LabelArr[ctr]), "Category", new { category = item.LabelArr[ctr] })
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(".row .search-btn").click(function () {
            window.location.href = "../Excuse/Category?category=" + $("#searchTxt").val();
        });
    </script>

}