@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using DaLazyDog.Resources
@model IEnumerable<Lazydog.Model.Excuse>
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer["PageTitle"];
}
<link href="~/css/LeftNavigation.min.css" rel="stylesheet" />
<h1>@SharedLocalizer["Index"]</h1>

<div class="text-center row hidden">
    <div class="col-xs-4">
        <input type="text" class="form-control" id="searchTxt" />
    </div>
    <div class="offset-1 col-xs-4">
        <a class="btn btn-outline-dark search-btn">Search</a>
    </div>

</div>
<div class="filter-form">
    <fieldset>
        <legend>@Localizer["Category_Filter"]</legend>
        <ul class="list-unstyled">
            <li class="default-item"></li>
        </ul>
    </fieldset>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExcuseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExcuseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Labels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcuseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcuseDescription)
                </td>
                <td class="labels-cell">

                    @for (int ctr = 0; ctr < item.LabelArr.Length; ctr++)
                    {
                        <a href="#">@item.LabelArr[ctr]</a>
                    }
                </td>
                <td>

                    @Html.ActionLink(Localizer.GetString("MakeLetter"), "MakeLetter", "LetterTemplate", new { id = 1, excuseName = item.ExcuseTitle }, null) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/ExcuseList_Index.js"></script>
    <script>
        initializeExcuseList();
    </script>

}
@section OgTags{
    <meta property="og:title" content="@ViewData["Title"]" />
}