@model Lazydog.Model.LetterTemplate
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject DaLazyDog.Models.CultureLocalizer SharedLocalizer
@{
    ViewData["Title"] = String.Concat(SharedLocalizer.Localize("WriteLetterFor"), ViewBag.Excuse);
}
<link href="~/css/GeneratedText.min.css" rel="stylesheet" />
<div ng-app="lazyDog" ng-controller="Details">

    <div>
        <h4>@ViewData["Title"]</h4>
        <hr />
        <dl class="row">
           
            <dt class="col-sm-2">
                Suggested Excuse
            </dt>
            <dd class="col-sm-10">
                <ul class="list-group another-way"></ul>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10 letter-content">
                @Html.Raw(Model.Content)
            </dd>
        </dl>
    </div>
    <div class="row">
        <div class="col-xs-3 offset-9">
            <a href="#generatedText" class="btn btn-info btn-generate" ng-click="generateLetter()">Generate Text</a>
        </div>
    </div>
    <div class="row letter-content">
        <div class="col-xs-12 generatedText white-space-pre-line" id="generatedText">
            {{LetterContent}}
        </div>
        <div class="col-xs-3">
            &nbsp;
        </div>
    </div>
   
</div>


@section Scripts
    {
    <script src="~/lib/angular.js/angular.min.js"></script>
    <script src="~/js/GenerateLetterPage.js"></script>
    <script>
        function appendAlternativeExcuseTitle(title) {
            var item = $("<li></li>").addClass("clickable");
            item.text(title);
            item.click(function (event) {
                $('input[name="Excuse"]').val($(this).text());
            });
            $(".list-group").append(item);
        }
        function getAlternates(excuseTitle) {
            appendAlternativeExcuseTitle(excuseTitle)
            $.get("/Excuse/AlternateTitle", { "title": excuseTitle }, function (data) {
                for (var ctr = 0; ctr < data.length; ctr++) {
                    appendAlternativeExcuseTitle(data[ctr].alternateTitle)
                }
            });
        }
        LetterGenerator.init("@Html.Raw(ViewBag.Excuse)");
        
        
        getAlternates("@Html.Raw(ViewBag.Excuse)");

    </script>
}
@section OgTags{
    <meta property="og:title" content="@ViewData["Title"]" />
}