@model Lazydog.Model.LetterTemplate
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<DaLazyDog.Resources.SharedResources> SharedLocalizer
@{
    ViewData["Title"] = $"Make Letter for {ViewBag.Excuse}";
}

<div ng-app="lazyDog" ng-controller="Details">

    <div>
        <h4>@SharedLocalizer["Letter_Template"]</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                <h4>@Html.DisplayFor(model => model.Name)</h4>
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10 letter-content">
                @Html.Raw(Model.Content)
            </dd>
        </dl>
    </div>
    <div class="row">
        <div class="col-xs-3 offset-9">
            <a class="btn btn-info btn-generate" ng-click="generateLetter()">Generate Text</a>
        </div>
    </div>
    <div class="row">
        <div class="offset-4 col-xs-4 generatedText white-space-pre-line">
            {{LetterContent}}
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/lib/angular.js/angular.min.js"></script>
    <script src="~/js/GenerateLetterPage.js"></script>
    <script>
        var excuse = "@Html.Raw(ViewBag.Excuse)";
       
        LetterGenerator.init("@Html.Raw(ViewBag.Excuse)");
    </script>
}