@model IEnumerable<Lazydog.Model.LetterTemplate>

@{
    ViewData["Title"] = "Letter Templates";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @Html.DropDownList("Excuses", new SelectList(ViewBag.Excuses))
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })

                    <a href="@String.Concat("MakeLetter/",item.ID.ToString(),"?excuseName=")" class="make-letter" data-name="@Html.Raw(item.Name)" > Make Letter</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
    {
    
    <script>
        $(".make-letter").click(function (item) {
            $(this).attr("href", $(this).attr("href") + $("#Excuses").val());
        });
    </script>
}