@model IEnumerable<Lazydog.Model.LetterTemplate>

@{
    ViewData["Title"] = "Letter Templates";
}

<h1>@ViewData["Title"]</h1>


<p>
    @Html.DropDownList("Excuses", new SelectList(ViewBag.Excuses), "Excuses", new { @class = "form-control excuse-ddl" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td data-content="@(item.Content)" class="content-cell">
                    
                    @Html.Raw(item.Content)
                </td>
                <td class="meta-cell">
                    @Html.DisplayFor(modelItem => item.Meta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })

                    <a href="@String.Concat("../lettertemplate/MakeLetter/",item.ID.ToString(),"?excuseName=")" class="make-letter" data-name="@Html.Raw(item.Name)"> Make Letter</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
    {

    <script src="~/tsCompiled/LetterMaker.js"></script>
    <script>
        $(".make-letter").click(function (item) {
            $(this).attr("href", $(this).attr("href") + $("#Excuses").val());
        });
        $(".excuse-ddl").change(function (e) {
            var maker = new LetterMaker("");
            var rows = $("td.content-cell");
            rows.each(function (index, elem) {
                elem.innerHTML = maker.makeLetter(elem.getAttribute("data-content"), "`Excuse", $("select option:selected").text(), JSON.parse($(elem).siblings(".meta-cell").text()));
            });
        })
        
        
    </script>
}