@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["The Lazy Dog"];

}
<p class="hidden loading-text">@Localizer["Loading"]</p>
<div class="text-center excuse-panel">
    <h1 class="display-4">@Localizer["Welcome to the Lazy Dog"]</h1>
    <p>@Localizer["Prepared_Excuses"]</p>
    <a class="btn excuse-btn btn-primary text-white">
        @Localizer["GetExcuse"]
    </a>
        <hr />
        <p><h2 class="excuse display-4"></h2></p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <p class="excuse-description"></p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <ul>
            
        </ul>
    </div>
</div>
<div class="row hidden link-to-letter-maker">
    <div class="col-xs-4 offset-9 float-right">
        <a class="btn btn-dark">@Localizer["MakeLetter"]</a>
    </div>
</div>
@section Scripts
    {
    <script src="@Url.Content("~/js/LazyDogAjax.js")"></script>
    <script type="text/javascript">

        Ajaxes.HomeInit();
        Ajaxes.UiTexts.Loading = $("p.loading-text").text();
    </script>
}